# cheersyou

In [87]:
from googletrans import Translator
import pandas as pd
import regex as re
translator = Translator()

#teacher = pd.DataFrame(columns = ["name", "undergraduate", "graduated","phd", "background", 
#                                   "title", "organization"])
#offer = pd.DataFrame(columns = ["GPA", "GRE","IELTS","TOFEL", "Admission_school",
#                                "Admission_major", "undergraduate_school", 
#                                "udnergraduate_major"])

In [88]:
import json
f = open('cheersyou_offer.json')
data = json.load(f)

In [89]:
cheersyou_offer = pd.DataFrame(columns = ["name", "GPA", "GRE","IELTS","TOEFL", "Admission_school",
                                "Admission_major", "undergraduate_school", 
                                "undergraduate_major"])


names = ["cheersyou" + str(x) for x in list(range(1,283+1))]

undergraduate = []
for student in data['info']:
    if '毕业于' in student:
        undergraduate.append(student['毕业于'])
    else:
        undergraduate.append("Nan")
        
GPA = []
for student in data['info']:
    if 'GPA' in student:
        GPA.append(student['GPA'])
    else:
        GPA.append("Nan")

GRE = []
for student in data['info']:
    if 'GRE' in student:
        GRE.append(student['GRE'])
    else:
        GRE.append("Nan")

GRE = []
for student in data['info']:
    if 'GRE' in student:
        GRE.append(student['GRE'])
    else:
        GRE.append("Nan")

GRE = []
for student in data['info']:
    if 'GRE' in student:
        GRE.append(student['GRE'])
    else:
        GRE.append("Nan")
        
Admission_school = []
for student in data['info']:
    if 'offer' in student:
        Admission_school.append(student['offer'])
    else:
        Admission_school.append("Nan")
        
cheersyou_offer["name"] = names
cheersyou_offer["undergraduate_school"] = undergraduate
cheersyou_offer["GPA"] = GPA
cheersyou_offer["GRE"] = GRE
cheersyou_offer["Admission_school"] = Admission_school

cheersyou_offer = cheersyou_offer.explode('Admission_school').reset_index(drop=True)

cheersyou_offer["Admission_major"] = cheersyou_offer['Admission_school'].apply(lambda x: re.sub(r'[^a-zA-Z]', '', str(x)))

for i in range(0,len(cheersyou_offer['Admission_school'])):
    cheersyou_offer['Admission_school'][i] = re.search("(\p{Han}*)", str(cheersyou_offer['Admission_school'][i])).group(1)

In [90]:
cheersyou_offer

,name,GPA,GRE,IELTS,TOEFL,Admission_school,Admission_major,undergraduate_school,undergraduate_major
0,cheersyou1,90,330,NaN,NaN,纽约大学,FinancialEngineering,南开大学,NaN
1,cheersyou1,90,330,NaN,NaN,加州大学伯克利分校,QuantitativeEconomics,南开大学,NaN
2,cheersyou1,90,330,NaN,NaN,加州大学伯克利分校,IndustrialEngineeringandOperationsResearch,南开大学,NaN
3,cheersyou2,3.9,325,NaN,NaN,哈佛大学,HealthDataScience,UCLA,NaN
4,cheersyou2,3.9,325,NaN,NaN,加州大学伯克利分校,IEOR,UCLA,NaN
...,...,...,...,...,...,...,...,...,...
582,cheersyou279,3.7,Nan,NaN,NaN,加州大学洛杉矶分校,LLM,华东政法大学,NaN
583,cheersyou280,3.8,Nan,NaN,NaN,麻渥伍德高中美高,,国内中学,NaN
584,cheersyou281,Nan,Nan,NaN,NaN,西城中学美高,,国高,NaN
585,cheersyou282,Nan,Nan,NaN,NaN,艾玛威拉德女子中学美高,,国内中学,NaN
586,cheersyou283,Nan,Nan,NaN,NaN,霍奇基斯中学美高,,北京王府学校,NaN

# palmdrive

In [202]:
f = open('palmdrive_teacher.json')
data = json.load(f)
data["palmdrive_teacher_info"]
for teacher in data["palmdrive_teacher_info"]:
    teacher["个人经历："] = translator.translate(teacher["个人经历："]).text

In [203]:
len(data["palmdrive_teacher_info"])

20

In [204]:

names  = ["palmdrive" + str(x) for x in list(range(1,20+1))]

undergraduate = []
for teacher in data["palmdrive_teacher_info"]:
    if "研究生背景" in teacher:
        undergraduate.append(teacher["研究生背景"])
    else:
        undergraduate.append("Nan")
        
graduated = []
for teacher in data["palmdrive_teacher_info"]:
    if '本科背景' in teacher:
        graduated.append(teacher['本科背景'])
    else:
        graduated.append("Nan")

phd = []
for teacher in data["palmdrive_teacher_info"]:
    if '博士背景' in teacher:
        phd.append(teacher['博士背景'])
    else:
        phd.append("Nan")
        
background = []
for teacher in data["palmdrive_teacher_info"]:
    if '个人经历：' in teacher:
        background.append(teacher['个人经历：'])
    else:
        background.append("Nan")

consultanting_field = []
for teacher in data["palmdrive_teacher_info"]:
    if '辅导专业：' in teacher:
        consultanting_field.append(teacher['辅导专业：'])
    else:
        consultanting_field.append("Nan")

cases = []
for teacher in data["palmdrive_teacher_info"]:
    if '辅导案例：' in teacher:
        cases.append(teacher['辅导案例：'])
    else:
        cases.append("Nan")

palmdrive_teacher = pd.DataFrame(columns = ["name", "undergraduate", "graduated","phd", "background", 
                                   "title", "organization", "fee",  "consultanting_field", "cases"])

palmdrive_teacher["undergraduate"] = undergraduate
palmdrive_teacher["graduated"] = graduated
palmdrive_teacher["background"] = background
palmdrive_teacher["organization"] = "palmdrive"
palmdrive_teacher["consultanting_field"] = consultanting_field
palmdrive_teacher["cases"] = cases
palmdrive_teacher["phd"] = phd

In [205]:
palmdrive_teacher[0:1]

,name,undergraduate,graduated,phd,background,title,organization,fee,consultanting_field,cases
0,NaN,加州大学伯克利分校，计算机科学硕士,北京航空航天大学，电子工程,Nan,Worked as an algorithm intern in a domestic co...,NaN,palmdrive,NaN,计算机科学，电子工程，电子与计算机工程,加州大学伯克利分校，电子工程与计算机科学硕士康奈尔大学，计算机科学硕士宾夕法尼亚大学，计算机...

In [91]:
f = open('palmdrive_offer.json')
data = json.load(f)
len(data["offer_info"])

32

In [94]:
palmdrive_offer = pd.DataFrame(columns = ["name", "GPA", "GRE","IELTS","TOEFL", "Admission_school",
                                "Admission_major", "undergraduate_school", 
                                "undergraduate_major"])

names = ["palmdrive" + str(x) for x in list(range(1,32+1))]

admission_school = []
for student in data['offer_info']:
    if 'admission_school' in student:
        admission_school.append(student['admission_school'])
    else:
        admission_school.append("Nan")
        
admission_major = []
for student in data['offer_info']:
    if 'admission_major' in student:
        admission_major.append(student['admission_major'])
    else:
        admission_major.append("Nan")

undergraduate = []
for student in data['offer_info']:
    if 'undergraduate' in student:
        undergraduate.append(student['undergraduate'])
    else:
        undergraduate.append("Nan")

GPA = []
GRE = []
IELTS = []
TOEFL = []
for student in data['offer_info']:
    if 'background' in student:
        GPA.append(re.search("GPA：(.*?)，", student["background"]).group(1))
        GRE.append(re.search("GPA：(.*?)，", student["background"]).group(1) if re.search("GRE：(.*?)，", student["background"]) else "Nan")
        TOEFL.append(re.search("TOEFL：(.*?)，", student["background"]).group(1) if re.search("TOEFL：(.*?)，", student["background"]) else "Nan")
        IELTS.append(re.search("IELTS:?：?(.*?)，", student["background"]).group(1) if re.search("IELTS:?：?(.*?)，", student["background"]) else "Nan")

palmdrive_offer["name"] = names
palmdrive_offer["GPA"] = GPA
palmdrive_offer["GRE"] = GRE
palmdrive_offer["IELTS"] = IELTS
palmdrive_offer["TOEFL"] = TOEFL
palmdrive_offer["Admission_school"] = admission_school
palmdrive_offer["Admission_major"] = admission_major
palmdrive_offer["undergraduate_school"] = undergraduate
palmdrive_offer["GPA"] = palmdrive_offer["GPA"].apply(lambda x: x[0:3])

# GGU

In [206]:
f = open('ggu_teacher.json')
data = json.load(f)

for teacher in data["ggu_teacher_info"]:
    teacher["intro"] = translator.translate(teacher["intro"]).text
len(data["ggu_teacher_info"])

10

In [207]:
name = []
for teacher in data["ggu_teacher_info"]:
    if 'name' in teacher:
        name.append(teacher['name'])
    else:
        name.append("Nan")
        
title = []
for teacher in data["ggu_teacher_info"]:
    if 'title' in teacher:
        title.append(teacher['title'])
    else:
        title.append("Nan")
        
intro = []
for teacher in data["ggu_teacher_info"]:
    if 'intro' in teacher:
        intro.append(teacher['intro'])
    else:
        intro.append("Nan")
        
GGU_teacher = pd.DataFrame(columns = ["name", "undergraduate", "graduated","phd", "background", 
                                   "title", "organization", "fee",  "consultanting_field", "cases"])

GGU_teacher["name"] = name
GGU_teacher["title"] = title
GGU_teacher["background"] = intro
GGU_teacher["organization"] = "ggu"

## indeededu

In [208]:
f = open('indeededu_teacher.json')
data = json.load(f)
for teacher in data["indeededu_teacher_info"]:
    teacher["intro"] = translator.translate(teacher["intro"]).text
data["indeededu_teacher_info"][0]

{'teacher_name': '崔老师 Francis',
 'title': '首席执行官CEO',
 'intro': "After graduating from Berkeley, he worked in the San Francisco office of a technology-focused investment bank, mainly responsible for cross-border M&A and investment business. He has served companies including Bain Capital, the world's largest private equity fund, Staples, a world 500 company, and VanceInfo, a leader in China's information technology industry. Overseas mergers and acquisitions and investment projects of many heavyweight customers such as HiSoft. Since 2007, Mr. Cui has been committed to providing one-on-one academic and further education counseling services for Chinese students. In addition to successfully helping students apply for admission to the top 30 universities in the United States, they also help students studying in the United States to get jobs in American investment banks and big four accounting firms."}

In [209]:
name = []
for teacher in data["indeededu_teacher_info"]:
    if 'teacher_name' in teacher:
        name.append(teacher['teacher_name'])
    else:
        name.append("Nan")
        
title = []
for teacher in data["indeededu_teacher_info"]:
    if 'title' in teacher:
        title.append(teacher['title'])
    else:
        title.append("Nan")
        
intro = []
for teacher in data["indeededu_teacher_info"]:
    if 'intro' in teacher:
        intro.append(teacher['intro'])
    else:
        intro.append("Nan")
        
indeededu_teacher = pd.DataFrame(columns = ["name", "undergraduate", "graduated", "phd",  "background", 
                                   "title", "organization", "fee",  "consultanting_field", "cases"])

indeededu_teacher["name"] = name
indeededu_teacher["title"] = title
indeededu_teacher["background"] = intro
indeededu_teacher["organization"] = "indeededu"

## raoraise

In [210]:
f = open('raoraise_1.json')
raoraise_1 = json.load(f)
f = open('raoraise_2.json')
raoraise_2 = json.load(f)
raoraise = {}
raoraise["info"] = raoraise_2["info"] + raoraise_1["info"]
raoraise["info"][0]

{'毕业院校': '波士顿大学',
 '老师学历': '硕士',
 '从业时间': '6年',
 '所属机构': '棕榈大道',
 '姓名': '张译心 Melissa 资深顾问',
 '地址': '位于：',
 '费用': '￥158000',
 '介绍': '多年在美学习的经历让译心老师能够将美式思维融入教育方式，用超强的责任心去对待自己的工作。她的耐心和细心促使她乐于站在孩子的角度思考，秉承尊重每一个孩子的个性和兴趣的原则，帮助他们发展兴趣，培养学习能力、思辨能力，并且激励他们成为更优秀的自己。译心老师相信，每一个孩子都是宝藏，他们的任何一个兴趣都可能成为灵感的源泉，彰显出无尽的潜力，只要好好培养和'}

In [211]:
undergraduate = []
for teacher in raoraise["info"]:
    if '硕士' in teacher['老师学历']:
        undergraduate.append(teacher['毕业院校'])
    else:
        undergraduate.append("Nan")

graduated = []
for teacher in raoraise["info"]:
    if '学士' in teacher['老师学历']:
        graduated.append(teacher['毕业院校'])
    else:
        graduated.append("Nan")
        
phd = []
for teacher in raoraise["info"]:
    if '博士' in teacher['老师学历']:
        phd.append(teacher['毕业院校'])
    else:
        phd.append("Nan")

organization = []
for teacher in raoraise["info"]:
    if '所属机构' in teacher:
        organization.append(teacher['所属机构'])
    else:
        organization.append("Nan")

background= []
for teacher in raoraise["info"]:
    if '介绍' in teacher:
        background.append(teacher['介绍'])
    else:
        background.append("Nan")
        
name = []
for teacher in raoraise["info"]:
    if '姓名' in teacher:
        name.append(teacher['姓名'])
    else:
        name.append("Nan")
        
fee = []
for teacher in raoraise["info"]:
    if '费用' in teacher:
        fee.append(teacher['费用'])
    else:
        fee.append("Nan")

        
raoraise_teacher = pd.DataFrame(columns = ["name", "undergraduate", "graduated","phd", "background", 
                                   "title", "organization", "fee",  "consultanting_field", "cases"])

raoraise_teacher["undergraduate"] = undergraduate
raoraise_teacher["graduated"] = graduated
raoraise_teacher["organization"] = organization
raoraise_teacher["background"] = background
raoraise_teacher["name"] = name
raoraise_teacher["fee"] = fee
raoraise_teacher["phd"] = phd

## meishiedu

In [95]:
f = open('msd_offer.json')
msd_offer = json.load(f)

for i in range(0,261):
    for k, v in msd_offer["msd_offer_info"][i].items():
        if v is None:
            msd_offer["msd_offer_info"][i][k] = "Nan"

In [96]:
meishiedu_offer = pd.DataFrame(columns = ["name", "GPA", "GRE","IELTS","TOEFL", "Admission_school",
                                "Admission_major", "undergraduate_school", 
                                "undergraduate_major"])

names = ["meishiedu" + str(x) for x in list(range(1,261+1))]
undergraduate = []
undergraduate_major = []
GPA = []
GRE = []
IELTS = []
TOEFL = []
Admission_school = []
Admission_major = []

for student in msd_offer["msd_offer_info"]:
    undergraduate.append(re.search("(.*)\/(.*)", student['背景院校/专业']).group(1) if re.search("(.*)\/(.*)", student['背景院校/专业']) else  student['背景院校/专业'])
    undergraduate_major.append(re.search("(.*)\/(.*)", student['背景院校/专业']).group(2) if re.search("(.*)\/(.*)", student['背景院校/专业']) else "Nan")
    Admission_school.append(student['录取院校/专业'])
    GPA.append(re.search("GPA.?([0-9]+\.?[0-9]+)", student['成绩说明']).group(1) if re.search("GPA.?([0-9]+\.?[0-9]+)", student['成绩说明']) else "Nan")
    GRE.append(re.search("GRE.?([0-9]+\+?[0-9]+)", student['成绩说明']).group(1) if re.search("GRE.?([0-9]+\+?[0-9]+)", student['成绩说明']) else "Nan")
    TOEFL.append(re.search("TOEFL.?([0-9]+\+?[0-9]+)", student['成绩说明']).group(1) if re.search("TOEFL.?([0-9]+\+?[0-9]+)", student['成绩说明']) else "Nan")
    IELTS.append(re.search("IELTS.?([0-9]+.?[0-9]?)", student['成绩说明']).group(1) if re.search("IELTS.?([0-9]+.?[0-9]?)", student['成绩说明']) else "Nan")
    
        

meishiedu_offer["undergraduate_school"] = undergraduate
meishiedu_offer["undergraduate_major"] = undergraduate_major
meishiedu_offer["Admission_school"] = Admission_school
meishiedu_offer["GPA"] = GPA
meishiedu_offer["GRE"] = GRE
meishiedu_offer["IELTS"] = IELTS
meishiedu_offer["TOEFL"] = TOEFL
meishiedu_offer["name"] = names

In [97]:
meishiedu_offer

,name,GPA,GRE,IELTS,TOEFL,Admission_school,Admission_major,undergraduate_school,undergraduate_major
0,meishiedu1,88.1,Nan,6,Nan,食品技术瓦格宁根大学,NaN,南京某大学,食品质量与安全
1,meishiedu2,3.6,Nan,Nan,Nan,帕森斯设计学院、纽约利姆时尚管理学院、纽约时尚学院时尚管理相关,NaN,美国某大学,Nan
2,meishiedu3,Nan,Nan,Nan,Nan,,NaN,Nan,Nan
3,meishiedu4,Nan,Nan,Nan,106,加州大学伯克利分校环境科学,NaN,北京某高中,Nan
4,meishiedu5,Nan,Nan,Nan,Nan,巴纳德学院心理学,NaN,美国某高中,Nan
...,...,...,...,...,...,...,...,...,...
256,meishiedu257,Nan,Nan,Nan,Nan,"芝加哥大学,(金工)哥伦比亚大学(统计),华盛顿大学圣路易斯分校(统计),密歇根大学安娜堡分...",NaN,金融工程专业 辅修会计,Nan
257,meishiedu258,83,315,Nan,100,"康奈尔大学,MBA专业",NaN,清华大学 商务管理专业,Nan
258,meishiedu259,Nan,Nan,Nan,Nan,"杜克大学, 经济学",NaN,人民大学，经济学专业;,Nan
259,meishiedu260,3.78,33,Nan,108,"耶鲁大学,计算机科学",NaN,北京某大学 测控技术与仪器,Nan
260,meishiedu261,Nan,Nan,Nan,109,"哈佛大学,",NaN,Nan,Nan

In [98]:
## 老师  392
## offer  576

In [212]:
teachers = pd.concat([palmdrive_teacher, GGU_teacher, indeededu_teacher, raoraise_teacher], ignore_index=True)
teachers["undergraduate"] = teachers["undergraduate"].apply(lambda x: translator.translate(x).text)

In [214]:
teachers["phd"] = teachers["phd"].apply(lambda x: translator.translate(x).text)

In [215]:
teachers["graduated"] = teachers["graduated"].apply(lambda x: translator.translate(x).text)

In [216]:
teachers["title"] = teachers["title"].apply(lambda x: translator.translate(x).text)

In [217]:
teachers["consultanting_field"] = teachers["consultanting_field"].apply(lambda x: translator.translate(x).text)

In [218]:
teachers["cases"] = teachers["cases"].apply(lambda x: translator.translate(x).text)

In [220]:
teachers["background"] = teachers["background"].apply(lambda x: translator.translate(x).text)

In [221]:
teachers.to_csv("teachers.csv")

In [245]:
teachers = pd.read_csv("teachers.csv")
majors = pd.read_csv("majors-list.csv")

In [246]:
for i in range(0, len(teachers)):
    field = []
    try:
        for major in majors["Major"]:
            major = str(major).lower() 
            if teachers["consultanting_field"][i] == "in":
                if major in teachers["background"][i].lower()  or major in teachers["undergraduate"][i].lower()  or major in teachers["graduated"][i].lower()  or major in teachers["phd"][i].lower():
                    field.append(major)
        for program in majors["Major_Category"]:
            program = str(program).lower() 
            if teachers["consultanting_field"][i] == "in":
                if program in teachers["background"][i].lower()  or program in teachers["undergraduate"][i].lower()  or program in teachers["graduated"][i].lower()  or program in teachers["phd"][i].lower():
                    field.append(program)

        if teachers["consultanting_field"][i] == "in":
            unique_list = []
            for x in field:
                if x not in unique_list:
                    unique_list.append(x)
 
            teachers["consultanting_field"][i] =  unique_list
    except:
        pass

/var/folders/96/_xtg2dx57vj1x4w8k066ypqr0000gn/T/ipykernel_72500/3622349619.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teachers["consultanting_field"][i] =  unique_list

In [247]:
for i in range(0,20):
    teachers["name"][i] = "teacher" + str(i)
    teachers["consultanting_field"][i] = teachers["consultanting_field"][i].split(", ")
    teachers["cases"][i] = teachers["cases"][i].split(",")

/var/folders/96/_xtg2dx57vj1x4w8k066ypqr0000gn/T/ipykernel_72500/4097653934.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teachers["name"][i] = "teacher" + str(i)
/var/folders/96/_xtg2dx57vj1x4w8k066ypqr0000gn/T/ipykernel_72500/4097653934.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teachers["consultanting_field"][i] = teachers["consultanting_field"][i].split(", ")
/var/folders/96/_xtg2dx57vj1x4w8k066ypqr0000gn/T/ipykernel_72500/4097653934.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teachers["cases"][i] = teachers["cases"][i].split(",")

In [248]:
schools = pd.read_csv("schools.csv", names = ["1", "2", "3", "4", "5", "6", "7"])

for i in range(0, len(teachers)):
    field = []
    try:
        for school in schools["1"]:
            school = str(major).lower() 
            if teachers["cases"][i] == "in":
                if school in teachers["background"][i].lower():
                    field.append(school)

        if teachers["cases"][i] == "in":
            unique_list = []
            for x in field:
                if x not in unique_list:
                    unique_list.append(x)
 
            teachers["cases"][i] =  unique_list
            
            if teachers["cases"][i] == []:
                if teachers["undergraduate"][i].lower() != "in":
                    field.append(teachers["undergraduate"][i])
                if teachers["graduated"][i].lower() != "in":
                    field.append(teachers["graduated"][i])
                if teachers["phd"][i].lower() != "in":
                    field.append(teachers["phd"][i])
                teachers["cases"][i] = field
    
    except:
        pass

/var/folders/96/_xtg2dx57vj1x4w8k066ypqr0000gn/T/ipykernel_72500/1481558828.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teachers["cases"][i] =  unique_list
/var/folders/96/_xtg2dx57vj1x4w8k066ypqr0000gn/T/ipykernel_72500/1481558828.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teachers["cases"][i] = field

In [249]:
teachers.to_csv("teachers_new.csv")

## offer

In [99]:
offers = pd.concat([cheersyou_offer, palmdrive_offer,meishiedu_offer], ignore_index=True)

In [100]:
offers["Admission_school"] = offers["Admission_school"].apply(lambda x: translator.translate(x).text)
offers["undergraduate_school"] = offers["undergraduate_school"].apply(lambda x: translator.translate(x).text)

In [101]:
offers["undergraduate_major"] = offers["undergraduate_major"].apply(lambda x: translator.translate(x).text)

In [102]:
offers = offers.rename(columns = {"undergraduate_school": "graduated_from"})

In [108]:
##scale 

offers["GPA"] = offers["GPA"].apply(lambda x: 4.0 if x != '' and float(x) >= 93 else x)
offers["GPA"] = offers["GPA"].apply(lambda x: 3.7 if x != '' and float(x) >= 90 else x)
offers["GPA"] = offers["GPA"].apply(lambda x: 3.3 if x != '' and float(x) >= 87 else x)
offers["GPA"] = offers["GPA"].apply(lambda x: 3.0 if x != '' and float(x) >= 83 else x)
offers["GPA"] = offers["GPA"].apply(lambda x: 2.7 if x != '' and float(x) >= 80 else x)
offers["GPA"] = offers["GPA"].apply(lambda x: 2.3 if x != '' and float(x) >= 77 else x)

In [274]:
offers = pd.read_csv("offers.csv")

In [275]:
for i in range(619, 882):
    try:
        info = offers["Admission_school"][i].split(",")
        if len(info) == 2:
            if "college" in info[0].lower() or "university" in info[0].lower():
                offers["Admission_school"][i] = info[0]
            if "college" not in info[1].lower() and "university" not in info[1].lower():
                offers["Admission_major"][i]  = info[1]
    except:
        pass

/var/folders/96/_xtg2dx57vj1x4w8k066ypqr0000gn/T/ipykernel_72500/987243352.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offers["Admission_school"][i] = info[0]
/var/folders/96/_xtg2dx57vj1x4w8k066ypqr0000gn/T/ipykernel_72500/987243352.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offers["Admission_major"][i]  = info[1]

In [276]:
for i in range(619, 882):
    try:
        offers["Admission_school"][i] = offers["Admission_school"][i].split(",")
    except:
        pass

/var/folders/96/_xtg2dx57vj1x4w8k066ypqr0000gn/T/ipykernel_72500/796102280.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offers["Admission_school"][i] = offers["Admission_school"][i].split(",")

In [280]:
offers = offers.explode('Admission_school').reset_index(drop=True)


#cheersyou_offer = cheersyou_offer.explode('Admission_school').reset_index(drop=True)

In [281]:
offers.to_csv("offers_new.csv")